span { font-size: 2em; }

.item { font-size: 2em; text-align: center; border: 1px solid #e5e4e9; }

.item-1 { background-color: #ef342a; }

.item-2 { background-color: #f68f26; }

.item-3 { background-color: #4ba946; }

.item-4 { background-color: #0376c2; }

.item-5 { background-color: #c077af; }

.item-6 { background-color: #f8d29d; }

.item-7 { background-color: #b5a87f; }

.item-8 { background-color: #d0e4a9; }

.item-9 { background-color: #4dc7ec; }

.container { margin: 40px auto; display: grid; grid-template-rows: repeat(3, 50px); grid-template-columns: 50px 50px 50px; }

.container-1 { display: inline-grid; grid-template-columns: repeat(2, 100px 20px 80px); grid-template-rows: 50px 50px 50px; }

.container-3 { grid-template-columns: repeat(3, 33.3%); }

.container-4 { grid-template-columns: repeat(auto-fill, 100px); }

.container-5 { grid-template-columns: 150px 1fr 2fr; }

.container-6 { grid-template-columns: 1fr 2fr minmax(100px, 1fr); }

.container-7 { grid-template-columns: 100px auto 100px; }

.container-8 { grid-template-columns: [c1] 100px [c2] 100px [c3] auto [c4]; grid-template-rows: [r1] 100px [r2] 100px [r3] auto [r4]; }

.container-9 { grid-template-columns: 70% 30%; }

.container-10 { grid-template-columns: repeat(12, 1fr); }

.container-11 { grid-row-gap: 20px; grid-column-gap: 20px; }

.container-12 { gap: 20px; }

.container-13 { grid-template-areas: 'a b c' 'd e f' 'g h i'; }

.container-14 { grid-auto-flow: column; }

.container-15 { grid-auto-flow: row; }
.container-15 .item-1, .container-15 .item-2 { grid-column-start: 1; grid-column-end: 3; }

.container-16 { grid-auto-flow: row dense; }
.container-16 .item-1, .container-16 .item-2 { grid-column-start: 1; grid-column-end: 3; }

.container-17 { grid-auto-flow: column dense; }
.container-17 .item-1, .container-17 .item-2 { grid-column-start: 1; grid-column-end: 3; }

.container-18 { justify-items: start; grid-template-rows: repeat(3, 100px); grid-template-columns: repeat(3, 100px); }

.container-19 { grid-template-rows: repeat(3, 100px); grid-template-columns: repeat(3, 100px); align-items: start; }

.container-20 { grid-template-rows: repeat(3, 100px); grid-template-columns: repeat(3, 100px); place-items: stretch end; }

.container-21 { justify-content: start; }

.container-22 { justify-content: end; }

.container-23 { justify-content: center; }

.container-24 { grid-template-rows: auto 100px auto; grid-template-columns: auto auto 100px; justify-content: stretch; }

.container-25 { justify-content: space-around; }

.container-26 { justify-content: space-between; }

.container-27 { justify-content: space-evenly; }

.container-28 { grid-template-columns: 100px 100px 100px; grid-template-rows: 100px 100px 100px; grid-auto-rows: 50px; }
.container-28 .item-8 { grid-row-start: 4; grid-column-start: 2; }
.container-28 .item-9 { grid-row-start: 5; grid-column-start: 3; }

.container-29 .item-1 { grid-column-start: 2; grid-column-end: 4; }

.container-30 .item-1 { grid-column-start: 1; grid-column-end: 3; grid-row-start: 2; grid-row-end: 4; }

.container-31 .item-1 { grid-column-start: 1; grid-column-end: span 2; grid-row-start: 2; grid-row-end: 4; }

.container-32 .item-1 { grid-column-start: 1; grid-column-end: span 2; grid-row-start: 2; grid-row-end: 4; z-index: -1; }
.container-32 .item-2 { background-color: #f68f26; grid-column-start: 2; grid-column-end: span 2; grid-row-start: 3; grid-row-end: 4; }

.container-33 .item-1 { grid-column: 1/3; grid-row: 1/3; }

.container-34 { grid-template-areas: "a b c " "d e f" "g h i"; }
.container-34 .item-1 { grid-area: e; }

.container-35 .item-1 { font-size: 1em; align-self: center; justify-self: end; }

.container-36 .item-1 { font-size: 1em; place-self: stretch center; }
